<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body{
        background-color:papayawhip
    }    
    </style>
</head>
<body>
        {% extends 'base.html' %}
        {% block content %}
        
            <h1 style="color:dimgray">나의 블로그 </h1><br>
            <a href="{%url 'portfolio' %}">포트폴리오 보기</a>
            <a href="{%url 'login' %}">로그인</a>
            <a href="{%url 'signup' %}">회원가입</a>
        
        <br>
        home! 
        
        {% if user.is_authenticated %}
        <form id="logout" method="POST" action="{% url 'logout' %}">
          {% csrf_token %}
          <input class="btn btn-primary" type="submit" value="Logout" />
        </form>
        
        환영합니다. {{ user.username }} 님! {% else %}
        
        {% endif %}
        
        
        {% for blog in posts %}
            <div class="container" style="background-color:plum">
                <h2>{{blog.title}}</h2>
                <p>{{blog.pub_date}}</p>
                <p>{{blog.date}}</p>
            </div>
        {% endfor %}
        
        <a href="{%url 'new' %}">글쓰기</a>
        {%if posts.has_previous%}
        <a href="?page=1">First</a>
        <a href="?page={{ posts.previous_page_number }}">Previous</a>
        {%endif%}

        <span>{{ posts.number }}</span>
        <span>of</span>
        <span>{{ posts.paginator.num_pages }}</span>

        {%if posts.has_next%}
        <a href="?page={{ posts.next_page_number }}">Next</a>
        <a href="?page={{ posts.paginator.num_pages }}">Last</a>
        {%endif%}
        {% endblock %}
</body>
</html>
