<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            background-image: url("https://images.unsplash.com/photo-1516571748831-5d81767b788d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80")
        }
    </style>
</head>
<body style="color:beige">
        <h1>Sign Up!</h1>
        <form method="POST" action="{% url 'signup'%}">
        {% csrf_token %} Username:
        <br />
        <input name="username" type="text" value="" />
        <br />
        Password:
        <br />
        <input name="password1" type="password" value="" />
        <br />
        Confirm Password:
        <br />
        <input name="password2" type="password" value="" />
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="Sign Up!" />
        </form>
    
</body>
</html>
